{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'sale.labels.self'|trans }} {{ 'crud.labels.edit' | trans }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sale') }}">
            {{ 'Back to the list' | trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
