{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'sale.labels.self'|trans }} {{ 'crud.labels.list' | trans }}</h1>
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
    <table class="records_list table">
        <thead>
            <tr>
                <th class="row_id">Id</th>
                <th class="row_operation_total">{{ 'operation.labels.total' | trans }}</th>
                <th class="row_operation_cash">{{ 'operation.labels.cash' | trans }}</th>
                <th class="row_createdAt">{{ 'entity.labels.createdAt' | trans }}</th>
                <th class="row_updatedAt">{{ 'entity.labels.updatedAt' | trans }}</th>
                <th  class="row_actions">{{ 'entity.labels.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="row_id"><a href="{{ path('sale_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="row_operation_total">{{ entity.total | localizedcurrency('ARS')}}</td>
                <td class="row_operation_cash"> {{entity.cash ? 'Yes' | trans :'No' | trans  }}</td>
                <td class="row_createdAt">{% if entity.createdAt %}{{ entity.createdAt| localizeddate('short','short')   }}{% endif %}</td>
                <td class="row_updatedAt">{% if entity.updatedAt %}{{ entity.updatedAt| localizeddate('short','short')   }}{% endif %}</td>
                <td class="row_actions">
                <ul class="index_actions">
                    <li>
                        <a href="{{ path('sale_show', { 'id': entity.id }) }}">{{ 'crud.labels.show' | trans }}<span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="record_actions">
        <li>
            <a href="{{ path('sale_new') }}">
                {{ 'Create a new entry' | trans }}
            </a>
        </li>
    </ul>

    <div class="row" id="bottom_bar">
        <div class="col-xs-12">

            <button class="btn btn-success" id="newEntity" style="width: 32%"> <span class="glyphicon glyphicon-plus"></span> {{ 'crud.labels.new' | trans }} </button>


        </div>
    </div>
    {% endblock %}
