{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'sale.labels.self'|trans }}</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>

            <tr>
                <th>{{ 'client.labels.self' | trans }}</th>
                <td>{{ entity.person.name  }}</td>
            </tr>
            
            <tr>
                <th>{{ 'item.labels.self' | trans }}</th>
                <td>{{ entity.items.count  }}</td>
            </tr>

            <tr>
                <th>{{ 'product.labels.self' | trans }}</th>

                <td>
                    <table>
                        <tbody>

                            {% for item in entity.items %}
                            <tr>
                                <td>{{ item.product.name  }}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <th>{{ 'operation.labels.total' | trans }}</th>
                <td>{{ entity.total }}</td>
            </tr>
            <tr>
                <th>{{ 'operation.labels.cash' | trans }}</th>
                <td>{{ entity.cash ? 'Yes' | trans :'No' | trans }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.labels.createdAt' | trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.labels.updatedAt' | trans }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sale') }}">
            {{ 'Back to the list' | trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('sale_edit', { 'id': entity.id }) }}">
            {{ 'crud.labels.edit' | trans }}
        </a>
    </li>
     <li>{{ form(delete_form) }}</li>
     </ul>


    <div class="row" id="bottom_bar">
        <div class="col-xs-12">

            <button class="btn btn-primary" id="editEntity" style="width: 31%"> {{ 'crud.labels.edit' | trans }} </button>
            <button class="btn btn-default" id="goBack" style="width: 31%"> {{ 'Go back' | trans }}  </button>
            <a href="#" class="btn btn-warning" data-target="#myModal" data-toggle="modal" id="ask_delete_button" style="width: 32%"> {{ 'Delete' | trans }}  </a>

        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">{{ 'Delete the sale?' | trans }}</h3>
                </div>
                <div class="modal-body">
                    {{ 'Click on delete to remove the sale' | trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | trans }}</button>
                    <button type="button" id="deleteOperation" class="btn btn-danger">{{ 'Delete' | trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
