{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.labels.name' | trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'product.labels.price' | trans }}</th>
                <td>{{ entity.price| localizednumber('currency') }}</td>
            </tr>
            <tr>
                <th>{{ 'product.labels.cost' | trans }}</th>
                <td>{{ entity.cost| localizednumber('currency') }}</td>
            </tr>
            <tr>
                <th>{{ 'product.labels.qty' | trans }}</th>
                <td>{{ entity.qty | localizednumber('decimal')}}</td>
            </tr>
            <tr>
                <th>{{ 'entity.labels.createdAt' | trans }}</th>
                <td>{{ entity.createdAt| localizeddate('short','short') }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.labels.updatedAt' | trans }}</th>
                <td>{{ entity.updatedAt| localizeddate('short','short') }}</td>
            </tr>
            <tr>
                <th>            {{ 'entity.labels.deleted' | trans }}                </th>
                <td>{{ entity.deleted ? 'Yes' | trans :'No' | trans }}</td>
            </tr>

            {% if entity.image != null %}
                <img class="img-responsive" src="/images/{{ asset(entity.image) }}" />
            {% endif %}



        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            {{ 'Back to the list' | trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('product_edit', { 'id': entity.id }) }}">
            {{ 'crud.labels.edit' | trans }}

        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

    <div class="row" id="bottom_bar">
        <div class="col-xs-12">

            <button class="btn btn-primary" id="editEntity" style="width: 32%"> {{ 'crud.labels.edit' | trans }} </button>
            <button class="btn btn-default" id="goBack" style="width: 32%"> {{ 'Go back' | trans }}  </button>
            <button class="btn btn-danger" id="deleteEntity" style="width: 32%"> {{ 'Delete' | trans }}  </button>

        </div>
    </div>
{% endblock %}
