{# base.html.twig #}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %} Punto de Venta {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>



        <link rel="stylesheet" href="{{ asset('css/app.css') }}" >




    </head>
    <body >

        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        
                    </button>
                    <a class="navbar-brand" href="{{ path('sale') }}">{{ 'app.name' | trans }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->

                        <li  class="dropdown" >
                            <a href="{{ path('sale') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'sale.labels.self'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('sale') }}">    {{ 'crud.labels.list'|trans }} </a></li>
                                <li><a href="{{ path('sale_new') }}">    {{ 'crud.labels.new'|trans }} </a></li>
                            </ul>
                        </li>

                        <li  class="dropdown" >
                            <a href="{{ path('purchase') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'purchase.labels.self'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('purchase') }}">    {{ 'crud.labels.list'|trans }} </a></li>
                                <li><a href="{{ path('purchase_new') }}">    {{ 'crud.labels.new'|trans }} </a></li>
                            </ul>
                        </li>


                        <li  class="dropdown" >
                            <a href="{{ path('product') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'product.labels.self'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('product') }}">    {{ 'crud.labels.list'|trans }} </a></li>
                                <li><a href="{{ path('product_price') }}">    {{ 'product.labels.price'|trans }} </a></li>
                                <li><a href="{{ path('product_new') }}">    {{ 'crud.labels.new'|trans }} </a></li>
                            </ul>
                        </li>

                        <li  class="dropdown" >
                            <a href="{{ path('category') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'category.labels.self'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('category') }}">    {{ 'crud.labels.list'|trans }} </a></li>
                                <li><a href="{{ path('category_new') }}">    {{ 'crud.labels.new'|trans }} </a></li>
                            </ul>
                        </li>

                        <li  class="dropdown" >
                            <a href="{{ path('client') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'client.labels.self'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('client') }}">    {{ 'crud.labels.list'|trans }} </a></li>
                                <li><a href="{{ path('client_new') }}">    {{ 'crud.labels.new'|trans }} </a></li>
                            </ul>
                        </li>

                        <li  class="dropdown" >
                            <a href="{{ path('supplier') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'supplier.labels.self'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('supplier') }}">    {{ 'crud.labels.list'|trans }} </a></li>
                                <li><a href="{{ path('supplier_new') }}">    {{ 'crud.labels.new'|trans }} </a></li>
                            </ul>
                        </li>

                        <li  >
                            <a href="{{ path('report') }}" aria-expanded="false">{{ 'report.labels.self'|trans }} </a>

                        </li>


                    </ul>

                    <ul class="nav navbar-nav navbar-right" >

                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">

                                {% if app.user %}
                                {{ app.user.username }}<span class="caret"></span>
                                {% endif %}

                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li><a href="{{ path('fos_user_profile_show') }}" >{{ 'fos_user_bundle.labels.See my Profile'|trans }}</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'fos_user_bundle.labels.Log out'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </nav>




    <div class="container">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }} alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}


            {% block body %}{% endblock %}

            {% block fos_user_content %} {% endblock fos_user_content %}

    </div>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>







</body>
</html>
