{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'category.labels.self'|trans }}  {{ 'crud.labels.new'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
