{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'category.labels.self'|trans }}  {{ 'crud.labels.new'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            <span class=" glyphicon glyphicon-chevron-left"></span>
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>

    <div class="row" id="bottom_bar">
        <div class="col-xs-12">

            <button class="btn btn-primary" id="saveEntity" style="width: 32%"> {{ 'Save' | trans }} </button>
            <button class="btn btn-default" id="goBack" style="width: 32%"> {{ 'Dismiss' | trans }}  </button>

        </div>
    </div>
{% endblock %}
