{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'purchase.labels.self'|trans }} {{ 'crud.labels.list' | trans }}</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th class="row_id">Id</th>
                <th class="row_operation_total">{{ 'operation.labels.total' | trans }}</th>
                <th class="row_operation_cash">{{ 'operation.labels.cash' | trans }}</th>
                <th class="row_createdAt">{{ 'entity.labels.createdAt' | trans }}</th>
                <th class="row_updatedAt">{{ 'entity.labels.updatedAt' | trans }}</th>
                <th class="row_actions">{{ 'entity.labels.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="row_id"><a href="{{ path('purchase_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="row_operation_total">{{ entity.total | localizedcurrency('ARS')}}</td>
                <td class="row_operation_cash">{{ entity.cash ? 'Si':'No' }}</td>
                <td class="row_createdAt">{% if entity.createdAt %}{{ entity.createdAt| localizeddate('short','short')   }}{% endif %}</td>
                <td class="row_updatedAt">{% if entity.updatedAt %}{{ entity.updatedAt| localizeddate('short','short')   }}{% endif %}</td>
                <td class="row_actions">
                <ul>
                    <li>
                        <a href="{{ path('purchase_show', { 'id': entity.id }) }}">{{ 'crud.labels.show' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('purchase_edit', { 'id': entity.id }) }}">{{ 'crud.labels.edit' | trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('purchase_new') }}">
                {{ 'Create a new entry' | trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
