{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Purchase creation</h1>
    {{ 'Symfony2 is great'|trans }}

    {{ form_start(form) }}
    <div id="form_items">
        <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
            {% for item in form.items %}
                {{ form_row (item) }}
            {% endfor %}
        </ul>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <a  id="addItem"> <span  class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> </a>
        </div>
    </div>


    <ul class="record_actions">
        <li>
            <a href="{{ path('purchase') }}">
                Back to the list
            </a>
        </li>
    </ul>


    {{ form_end(form) }}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        function addItem (e){

            var $detalles = $("ul.items");
            var $index = $detalles.data('index') || 0;
            var $detalle = $detalles.attr("data-prototype").replace(/__name__/g, $index );
            var $li = $('<li></li>').append($detalle);
            var $removeFormA = $('<div class="form-group"><a href="#" class="delete_item"> <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a></div>');
            $li.children().append($removeFormA);
            $detalles.append( $li);

            $detalles.data('index', $index + 1);
        };

        function deleteItem(e){
            e.preventDefault();
            $(this).parent().parent().remove();
        };

        function style(){
            //$(".item_importe, .item_detalle").parent().addClass("form-group");
            //$(".item_importe").parent().addClass("form-group")
            $("li .form-group").css("float", "left");
            $("li .form-group:first-of-type").css("clear", "left");
            $(".item_importe").parent().addClass("col-lg-3");
            $(".item_bienes").parent().addClass("col-lg-4");
            $("ul li").css("list-style-type", "none");

        }
        jQuery(document).ready(function () {

            $("body").delegate("#addItem", "click", addItem);
            $("body").delegate(".delete_item", "click", deleteItem);
            $("body").delegate("#addItem", "click", style);

            $("#addItem").trigger("click");




        });


    </script>

{% endblock %}
