{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ 'purchase.labels.self'|trans }}</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'operation.labels.total' | trans }}</th>
                <td>{{ entity.total }}</td>
            </tr>
            <tr>
                <th>{{ 'operation.labels.cash' | trans }}</th>
                <td>{{ entity.cash }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.labels.createdAt' | trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'entity.labels.updatedAt' | trans }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('purchase') }}">
            {{ 'Back to the list' | trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('purchase_edit', { 'id': entity.id }) }}">
            {{ 'crud.labels.edit' | trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
